body{
    color: #333;
    text-align: center;
    font-family:sans-serif;
    font: size 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    background: #33a;
    color:white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

  